<!doctype html>
<html>
<head>
<%- include('common-head-content',{title:__('brandTitle')}) %>
</head>

<body class="bgcolor">
<!--header starts-->
<%- include('common-header',{active:'brandLink'}) %>
<!--header ends-->
<!-- nav starts -->
<div class="nav">
  <div class="nav-content">
    <span><a class="nav-home" title="<%= __('indexLink') %>" href="/"><%= __('indexLink') %></a></span>&nbsp;&gt;&nbsp;<span><%= __('brandLink') %></span>
  </div>
  </div>
<!-- nav ends -->
<!--container starts-->
<div class="container">
  <div class="containertwo">
    <div class="wrapper">
      <div class="mainbox clearfloat">
        <div class="leftbox fl"> 
        	<img src="images/twogalimg.png" alt="galimage"> 
        </div>
        <div class="rightbox fl">
          <h2 class="headtxt">TRUFFLES</h2>
          <%if(isZhCn){%>
          <h3 class="subheadtxt">德菲丝品牌故事</h3>
          <%}else{%>
          <h4 class="subtxt">STORY OF TRUFFLES</h4>
          <%}%>
          <p>有位西班牙的公主嫁入法国皇室，因初离故土，婚后不思饮食。国王爱妻情切，出尽百宝仍不见效，便命御厨研制新品，并要求将西班牙公主带来的可可豆融入法式甜点的制作，为求一解公主的思乡之情。御厨在遵照国王旨意的同时，更突发奇想地照着法国皇室贵族喜爱的珍贵食材“松露”的形状，制成了别具特色的巧克力。这种巧克力便被命名为Truffes，即法语中“松露”的意思（英语为Truffles）。后来，这种巧克力的制法流传到民间，保留至今，这就是“德菲丝”的由来。</p>
          <p>德菲丝源起那位国王对公主真诚的爱情，用心深巨。我们誓将用德菲丝的臻味展现对爱的见地。希望您能借由德菲丝松露巧克力感受到我们心目中的爱：纯正、浓郁，但不过腻；温润细腻，虽甜中带苦，但不禁享受沉浸其中的每一秒。</p>
          <p>这样温和浓厚的爱，充满了真挚而非妖娆，不仅限于爱情，更存在于家人、朋友之间。所以，越来越多的朋友愿意用德菲丝馈赠亲友、爱人，来表达和传递真诚、质朴的爱。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--container ends-->
<!--footer starts-->
<%- include('common-footer') %>
<!--footer ends-->
<!--scripts starts-->
<%- include('common-js') %>
<!--scripts ends-->
</body>
</html>
