<div class="footer">
    <div class="wrapper">
        <div class="foot clearfloat">
            <div class="first fl">
                <h2><%= __('contactUs') %></h2>
                <h3><a href="tel:+86 021-60950054">Tel:+86 021-60950054</a></h3>
                <h3>官方 微博 :<a href="http://weibo.com/truffeschocolate">http//weibo.com/truffeschochocolate</a></h3>
                <h3 class="footer-address"><%= __('address') %></h3>
            </div>
            <div class="first fl second">
                <h2><%= __('onlineMarket') %></h2>
                <div class="footeImg">
                    <img src="<%= globalConfig.website_static %><%= _gap('images/foottext.png') %>">
                </div>
                <form id="search-truffles" class="footForm clearfloat">
                    <input class="fl" type="text" placeholder="<%= __('seller') %>" value="" />
                    <button class="fr" type="submit"><img src="<%= globalConfig.website_static %><%= _gap('images/search.png') %>"></button>
                </form>
            </div>
            <div class="third fl">
                <div class="qrcode">
                    <img src="<%= globalConfig.website_static %><%= _gap('images/qrnew.png') %>">
                </div>
                <h5>德菲丝旗舰店</h5>
            </div>
            <div class="third fl thirdLst">
                <div class="qrcode">
                    <img src="<%= globalConfig.website_static %><%= _gap('images/barcode.jpg') %>">
                </div>
                <h5>德菲丝公众微信号</h5>
            </div>
            <div class="fourth fr">
                <img src="<%= globalConfig.website_static %><%= _gap('images/footlogo.png') %>">
            </div>
        </div>
    </div>
</div>
<div class="secondfoot">
    <div class="wrapper">
        <div class="clearfloat">
            <div class="fl">
                <ul id="set-locale" class="clearfloat">
                    <li><a title="简体中文" data-locale="zh-CN" href="javascript:;"><img src="<%= globalConfig.website_static %><%= _gap('images/logone.png') %>"></a></li>
                    <li><a title="English" data-locale="en-US" href="javascript:;"><img src="<%= globalConfig.website_static %><%= _gap('images/logtwo.png') %>"></a></li>
                    <!--<li><img src="<%= globalConfig.website_static %><%= _gap('images/logthree.png') %>"></li>-->
                </ul>
            </div>
            <h6 class="fr">沪ICP备12044703号 线上总代：上海味滋国际贸易有限公司</h6>
        </div>
    </div>
</div>