<!doctype html>
<html>
<head>
<%- include('common-head-content',{title:__('indexTitle')}) %>
<link href="<%= globalConfig.website_static %><%= _gap('css/index.css') %>" rel="stylesheet" type="text/css" media="all"/>
</head>

<body class="bgcolor">
<!--header starts-->
<%- include('common-header',{active:'indexLink'}) %>
<!--header ends-->
<!--container starts-->
<div class="container">
	<div class="containerOne">
    	<div class="banner">
            <ul>
                <li>
                    <img data-url="<%= globalConfig.website_www %>product/best-seller-series/1" src="<%= globalConfig.website_static %><%= _gap('images/ctnonebanner.jpg') %>" />
                </li>
                <li>
                    <img data-url="<%= globalConfig.website_www %>product/row-block-series/1" src="<%= globalConfig.website_static %><%= _gap('images/banner2.jpg') %>" />
                </li>
                <li>
                    <img data-url="<%= globalConfig.website_www %>product/best-seller-series/3" src="<%= globalConfig.website_static %><%= _gap('images/ctnonebanner2.jpg') %>" />
                </li>
                <li>
                    <img data-url="<%= globalConfig.website_www %>product/wafer-series/1" src="<%= globalConfig.website_static %><%= _gap('images/wafer-banner.jpg') %>" />
                </li>
            </ul>
            <a href="javascript:;" class="move-banner move-banner-left">&lt;</a>
            <a href="javascript:;" class="move-banner move-banner-right">&gt;</a>
        </div>

	<div id="products-wrapper" class="wrapper">
    	<div class="gal clearfloat">
			<dl>
            	<dt><a href="/product/best-seller-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-best-seller.png') %>"></a></dt>
                <dd>
                	<a href="/product/best-seller-series/1" class="textStl"><%= __('productTrufflesChocolate') %></a>
                	<!--<h2>Truffles Chocolate</h2>-->
                </dd>
            </dl>
            <dl>
            	<dt><a href="/product/row-block-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-row-block.png') %>"></a></dt>
                <dd>
                	<a href="/product/row-block-series/1" class="textStl"><%= __('productChocolateBars') %></a>
                	<!--<h2>Chocolate Bars</h2>-->
                </dd>
            </dl>
            <dl>
            	<dt><a href="/product/liqueur-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-liqueur.png') %>"></a></dt>
                <dd>
                	<a href="/product/liqueur-series/1" class="textStl"><%= __('productLiqueurChocolate') %></a>
                	<!--<h2>Liqueur Chocolate</h2>-->
                </dd>
            </dl>
            <dl>
            	<dt><a href="/product/shell-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-shell.png') %>"></a></dt>
                <dd>
                	<a href="/product/shell-series/1" class="textStl"><%= __('productSeaShells') %></a>
                	<!--<h2>Sea Shells</h2>-->
                </dd>
            </dl>
            <dl>
            	<dt><a href="/product/gift-box-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-gift-box.png') %>"></a></dt>
                <dd>
                	<a href="/product/gift-box-series/1" class="textStl"><%= __('productGiftBoxes') %></a>
                	<!--<h2>Gift Boxes</h2>-->
                </dd>
            </dl>
            <dl>
            	<dt><a href="/product/wedding-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-wedding.png') %>"></a></dt>
                <dd>
                	<a href="/product/wedding-series/1" class="textStl"><%= __('productForWedding') %></a>
                	<!--<h2>For Wedding</h2>-->
                </dd>
            </dl>
            <dl class="mrg">
                <dt><a href="/product/wafer-series/1"><img src="<%= globalConfig.website_static %><%= _gap('images/series-wafer.png') %>"></a></dt>
                <dd>
                    <a href="/product/wafer-series/1" class="textStl"><%= __('productForWafer') %></a>
                </dd>
            </dl>
           
        </div>
    </div>
   </div>
</div>
<!--container ends-->
<!--footer starts-->
<%- include('common-footer') %>
<!--footer ends-->
<!--scripts starts-->
<%- include('common-js') %>
<script type="text/javascript" src="<%= globalConfig.website_static %><%= _gap('js/index.js') %>"></script>
<!--scripts ends-->
</body>
</html>
